(function(){
  var html = '<%= j render @repos, format: :html %>';
  $('#repos .spinner').remove();
  <% if @page > 1 %>
    $('#repos ul').append(html);
  <% else%>
    $('#repos ul').html(html);
  <% end %>
  <% if @next_page_url %>
    $('#repos').append('<a class="next" href="<%= @next_page_url %>"></a>');
    $('#repos ul').infiniteScroll('#repos')
  <% end %>
})();
