
$('#repos .spinner').remove();
$('#repos ul').append('<%= j render @repos, format: :html %>');
<% if @next_page_url %>
  $('#repos').append('<a class="next" href="<%= @next_page_url %>"></a>');
<% end %>

