;(function(){
  var $tag = $("#tag-<%= @tag.id %>");
  var html = $tag.html();
  $tag.html('<div class="origin">' + html + '</div>' + '<%= j render "form" %>').find('input[type=text]').focusEnd()
})();
