;(function(){
  if ($('#tags .new-tag').length){
    return;
  };
  $('#tags').find('.origin').each(function(){
    $(this).parent().html($(this).html());
  });
  $("#tags ul").append('<li class="new-tag"><%= j render "form" %></li>').find('input[type=text]').focus()
})();
