/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome";

$sidebar-width: 240px;
$nav-height: 60px;
$repo-list-width: 320px;

.layout {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#sidebar {
  @extend .layout;
  right: auto;
  width: $sidebar-width;
  background: #3C4174;
}

#nav {
  @extend .layout;
  position: absolute;
  left: $sidebar-width;
  height: $nav-height;
}

#repos {
  @extend .layout;
  top: $nav-height;
  left: $sidebar-width;
  width: $repo-list-width;
  background: #91D0CD;
}

#readme {
  @extend .layout;
  top: $nav-height;
  left: $sidebar-width + $repo-list-width;
  background: #77B8DA;
}
